:root{
    --gradientBody: linear-gradient(to bottom, #504099, #445069);
    --headingText: -webkit-linear-gradient( #FFE17B, #FF52A2);
}

/* Start Index page */
body.index-body {
  background: var(--gradientBody);
  background-repeat: no-repeat;
  height: 100vh;
}

.index-title {
  height: 90vh;
}

.container .index-title-text h1 {
  background: var(--headingText);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* End Index page */

/* Start OrderCV page */
.order-body{
    background: var(--gradientBody);
    height: 100vh;
}

h2.order-title{
    background: var(--headingText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main section.container .order-titleBg{
    background: url('../media/orderImage.jpg');
    background-size: cover;
}
/* End OrderCV page */

/* Start Login page */
.login-titleBg{
    background: url('../media/loginImage.jpg');
    background-size: cover;
}
/* End Login page */
